
@font-face {
    font-family: shrekfont;
    src: url(../res/SHREK___.TTF);
}

body{
    font-family: "Fira Code";
    background-image: url(../res/1366_2000.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: #ffffff;
}
.header{
    height: 250px;
    width: 100%;
    /*background-color: aquamarine;*/
}
.photo{
    height: 250px;
    width: 250px;
    /*background-color: red;*/
    border-radius: 100%;
    float: left;
    overflow: hidden;
}
.photo img{
    height: 100%;
    width: 100%;
    position: relative;
}
.title{
    height: 100%;
    width: calc(100% - 500px);
    float: left;
    text-align: center;
    font-size: 20px;
}
.title table{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -120%);
    background-color: #ffffff99;
    border-radius: 15px;
    color: #000000;
}
.block{
    height: 300px;
    width: 45%;
    background-color: azure;
    padding: 20px;
    float: left;
}
.blue{
    color: #a4b835;
    font-family: shrekfont;
}
.formulario{
    height: 500px;
    width: 250px;
    float: left;
    text-align: center;
    background-color: yellow;
}
.shrek:hover{
    transform: scale(1.1);
    cursor: url(../res/s.cur), auto;
}
